.list {
    display: flex;
    align-items: center;
    gap: 40px;

    font-family: "KyivType Sans";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.list a {
    position: relative;
}

.list a:after {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    width: 0px;
    height: 100%;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(183, 0, 0, 0.5);
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.list a:hover:after {
    width: 110%;
}

@media (max-width: 720px) {
    .list {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
}
