.container {
    composes: container from "../../../css/style.css";
    text-align: center;
}

.artbox {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    overflow: hidden;
}

.artbox > :nth-child(even) {
    margin-top: 54px;
}

.art-enter {
    opacity: 0;
}
.art-enter:nth-child(even) {
    transform: translateX(-100%);
}
.art-enter:nth-child(odd) {
    transform: translateX(100%);
}
.art-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.7s ease-in-out;
}

.art-exit {
    opacity: 1;
    transform: translateX(0);
}
.art-exit-active {
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.art-exit-active:nth-child(even) {
    transform: translateX(-150%);
}
.art-exit-active:nth-child(odd) {
    transform: translateX(150%);
}

@media (max-width: 1024px) {
    .artbox {
        gap: 32px;
        flex-direction: column;
        align-items: center;
    }
    .artbox > :nth-child(even) {
        margin-top: 0;
    }
    .art-enter:nth-child(n) {
        transform: translateX(-50%);
    }
}
