.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    font-family: "Acworth";
    font-weight: 700;
    font-size: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    font-family: "Geometria";
    line-height: 25px;
    font-size: 20px;
    text-align: start;
    max-width: 497px;
    margin: 10px;
}

.attr {
    font-weight: 300;
    margin-bottom: 21px;

    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media (max-width: 800px) {
    .wrap {
        font-size: 28px;
    }
    .box {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .wrap {
        font-size: 20px;
    }
    .box {
        font-size: 13px;
        line-height: 18px;
    }
    .attr {
        margin-bottom: 10px;
    }
}
