.nav {
    z-index: 50;
    position: fixed;
    width: 100%;
    background-color: red;
    padding: 20px 0;
    font-family: "KyivType Sans";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
