.art {
    width: 670px;
    height: 395px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.art img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1410px) {
    .art {
        height: auto;
        width: 94%;
    }
}
