.art {
    width: 670px;
    height: 395px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.art img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1410px) {
    .art {
        width: 1024px;
        height: 603px;
    }
}

@media (max-width: 1100px) {
    .art {
        width: 768px;
        height: 452px;
    }
}

@media (max-width: 800px) {
    .art {
        width: 512px;
        height: 301px;
    }
}

@media (max-width: 600px) {
    .art {
        width: 372px;
        height: 219px;
    }
}

@media (max-width: 400px) {
    .art {
        width: 290px;
        height: 170px;
    }
}
