body {
    background-color: black;
    color: white;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    margin: auto;
    max-width: 1390px;
    padding: 0 10px;
}

.section {
    overflow: hidden;
    max-width: 1920px;
    margin: auto;
    position: relative;
    padding-top: calc(var(--nav-height) + 2 * var(--nav-padding) + 1px);
    min-height: calc(100vh - var(--nav-height) - 2 * var(--nav-padding) - 1px);
}

.title {
    font-family: "Geometria";
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
